$primaryColor: hsl(180, 29%, 50%);
$lightGreyBackground: hsl(180, 52%, 96%);
$lightGreyTag: hsl(180, 31%, 95%);
$darkGrey: hsl(180, 8%, 52%);
$distinctlyDarkGrey: hsl(180, 14%, 20%);
/* $fontSpartan: 'Spartan', sans-serif; */
$fontSize: 15px;
